<div class="card" >
    <div class="card-container">
        <img class="card-img-top" src="/static/thumb-1920-679478.jpg" alt="Card image cap" height="100%" width="100%" />
        <a href="#" class="middle">
            Go to details
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Card title
        </h5>
        <p class="card-text">
            Adidas
        </p>
        <a href="#" class="btn btn-primary">
            Go somewhere
        </a>
    </div>
</div>