<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Optional theme -->
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cart.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>


</head>
<body>
    <div th:replace="navbar :: navbar"></div>
    <div id="maincontainer">
        <div class="box">
            <div class="row head">
                <div class="col col-lg-4">
                    <strong>Item</strong>
                </div>
                <div class="col-md-auto">
                    <strong>Seller</strong>
                </div>
                <div class="col col-lg-4 right">
                    <strong>Price</strong>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-4">
                    Adidas Shirt
                </div>
                <div class="col-md-auto">
                    sevendiko
                </div>
                <div class="col col-lg-4 right">
                    25$
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-4">
                    Adidas Shirt
                </div>
                <div class="col-md-auto">
                    sevendiko
                </div>
                <div class="col col-lg-4 right">
                    25$
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-4">
                    Adidas Shirt
                </div>
                <div class="col-md-auto">
                    sevendiko
                </div>
                <div class="col col-lg-4 right">
                    25$
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-4">
                </div>
                <div class="col-md-auto">
                </div>
                <div class="col col-lg-4 right">
                    Total : 75$
                </div>
            </div>
        </div>
        <div class="box">
            <a href="/"><button class="btn warning">Back to shopping</button></a>
            <a href="/checkout"><button class="btn warning btn2">Checkout</button></a>
        </div>
    </div>
</body>
</html>