<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace=" head :: head">
    </head>
    <body>
    <div th:replace="navbar :: navbar"></div>
    <div id="maincontainer">
        <div class="py-5 text-center">
            <h2>Checkout</h2>
            <p class="lead">Please fill in the form below to complete your purchase</p>
        </div>
        <div class="row">
            
                <div class="col-md-6 order-md-2">
                    <form>
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill">3</span>
                    </h4>

                    <ul class="list-group mb-6">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <label for="delivery_p1">Delivery:</label>
                            <select class="custom-select d-block w-100" id="delivery_p1" required="required">
                                <option value="">Choose...</option>
                                <option value="delivery1">Delivery option 1</option>
                                <option value="delivery2">Delivery option 2</option>
                                <option value="delivery3">Delivery option 3</option>
                            </select>
                        </div>
                        <span class="text-muted">$12</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Second product</h6>
                            <label for="delivery_p2">Delivery:</label>
                            <select class="custom-select d-block w-100" id="delivery_p2" required="required">
                                <option value="">Choose...</option>
                                <option value="delivery1">Delivery option 1</option>
                                <option value="delivery2">Delivery option 2</option>
                                <option value="delivery3">Delivery option 3</option>
                            </select>
                        </div>
                        <span class="text-muted">$8</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Third item</h6>
                            <label for="delivery_p3">Delivery:</label>
                            <select class="custom-select d-block w-100" id="delivery_p3" required="required">
                                <option value="">Choose...</option>
                                <option value="delivery1">Delivery option 1</option>
                                <option value="delivery2">Delivery option 2</option>
                                <option value="delivery3">Delivery option 3</option>
                            </select>
                        </div>
                        <span class="text-muted">$5</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                      <span>Total (USD)</span>
                      <strong>$20</strong>
                    </li>
                  </ul>
                  <button class="btn btn-warning btn-lg btn-block" type="submit">Proceed to payment</button>
                </form>
                </div>
              
                <div class="col-md-6 order-md-1">
                  <h4 class="mb-3">Billing address</h4>
                    <div class="mb-3">
                      <label for="email">Contact e-mail <span class="text-muted">(Optional)</span></label>
                      <input type="email" class="form-control" id="email" placeholder="you@example.com"/>
                      <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                      </div>
                    </div>
        
                    <div class="mb-3">
                      <label for="address">Address</label>
                      <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="required"/>
                      <div class="invalid-feedback">
                        Please enter your shipping address.
                      </div>
                    </div>
        
                    <div class="mb-3">
                      <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                      <input type="text" class="form-control" id="address2" placeholder="Apartment or suite"/>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="" required="required"/>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <input type="text" class="form-control" id="state" placeholder="" required="required"/>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required="required"/>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <footer th:replace="footer :: footer"></footer>
    </body>
</html>