<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="header" th:fragment="header">
    <h3 class="linkbuttons">
        <form action="/add_product">
            <button class="btn warning">Sell your mismatched gift here!</button>
        </form>

        <button class="btn warning lb2" data-toggle="collapse" data-target="#searchbox" aria-expanded="false" aria-controls="searchbox">Search for a better one</button>
    </h3>
</div>
</body>
</html>