<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navbar" id="navbar_bg">
            <nav class="navbar navbar-expand-sm navbar-default" >
                <div th:replace="form :: registerform"></div>
                <div th:replace="login :: loginform"></div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><img src="/img/logo.png" /></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="modal" data-target="#modalRegisterForm" class="nav-link signup_modal_toggle"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="modal" data-target="#modalLoginForm" class="nav-link login_modal_toggle"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>