<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::head">
<link rel="stylesheet" type="text/css" href="/css/card.css"/>
<body>
    <div th:replace="navbar :: navbar"></div>
    <div id="container">
        <div>
            <p></p>
            <form id="product_form" action="/api/saveproduct" method="post">
                <div id="userId" hidden="hidden"></div>
                <div>
                    <label for="name">Name</label>
                </div>
                <div>
                    <input type="text" id="name" size="67" name="name" required="required"></input>
                </div>

                <div>
                    <label for="price">Price</label>
                </div>
                <div>
                    <input type="text" id="price" size="67" name="price" required="required"></input>
                </div>

                <div>
                    <label for="description">Description</label>
                </div>
                <div>
                    <textarea type="text" id="description" cols="70" rows="10" name="description" required="required"></textarea>
                </div>

                <div>
                    <button type="submit" class="btn warning lb2">Save your product</button>
                </div>

            </form>
        </div>
    </div>
    <footer th:replace="footer :: footer"></footer>
</body>
</html>