<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="reviewmodal" class="modal fade" id="modalReview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Review</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div id="review-box" class="modal-body">
                    <div id="rating" hidden="hidden"></div>
                    <div class="modal-inputfield">
                        <i class="fa fa-font prefix grey-text"></i>
                        <input type="text" id="title" name="title" placeholder="Title" />
                    </div>
                    <div class="modal-inputfield">
                        <i class="fa fa-comment prefix grey-text"></i>
                        <input type="text" id="comment" name="comment" placeholder="Comment" />
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn warning post-review">Post review</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>