<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/user.js"></script>
    <script src="/js/review.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Optional theme -->
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/review.css"/>
</head>
<body>
<div th:replace="navbar::navbar"></div>
    <div id="maincontainer">
        <div class="content">
            <div class="row">
                <div class="col col-sm-4">
                    <p>Username:</p>
                    <p>Full name:</p>
                    <p>Location:</p>
                    <p>Email:</p>
                    <p>Member since:</p>
                </div>
                <div class="col col-sm-8">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">From</th>
                            <th scope="col">Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Adidas Shirt</td>
                            <td>sevendiko</td>
                            <td>2018.03.26</td>
                            <td>Done</td>
                            <td>25$</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <hr />
                    <div class="rating-block">
                        <h4>Average user rating</h4>
                        <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                        <button id="1" type="button" class="btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                            <span class="fa fa-star" aria-hidden="true"></span>
                        </button>
                        <button id="2" type="button" class="btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                            <span class="fa fa-star" aria-hidden="true"></span>
                        </button>
                        <button id="3" type="button" class="btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                            <span class="fa fa-star" aria-hidden="true"></span>
                        </button>
                        <button id="4" type="button" class="btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                            <span class="fa fa-star" aria-hidden="true"></span>
                        </button>
                        <button id="5" type="button" class="btn btn-warning btn-grey btn-sm" aria-label="Left Align">
                            <span class="fa fa-star" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-8">
                    <hr/>
                    <div class="review-block">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="review-block-name"><a href="#">sevendiko</a></div>
                                <div class="review-block-date">March 26, 2018<br/>1 day ago</div>
                            </div>
                            <div class="col-sm-9">
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" disabled="disabled">
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" disabled="disabled">
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" disabled="disabled">
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align" disabled="disabled">
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align" disabled="disabled">
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                    </button>
                                <hr />
                                <div class="review-block-title">Correct deal</div>
                                <div class="review-block-description">Delivery was quick, the product is awesome!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="footer::footer"></div>
</body>
</html>